.featured {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.featuredVertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, var(--background) 10%, transparent 90%);
}

.featuredHorizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, rgba(16, 18, 21, 0.7) 30%, transparent 70%);
    padding-left: 2rem;
    padding-bottom: 4rem;
}

.featuredName {
    font-size: 2.75rem;
    font-weight: 600;
    max-width: 40%;
}

.featuredInfo {
    font-size: 1.5rem;
    font-weight: 600;
}

.featuredLauch {
    font-size: 1rem;
}

.discountPercentage {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 2rem 0rem;
}

.discountPercentage>span {
    padding: 0.3rem;
    border-radius: 5px;
    background: var(--green);
    color: var(--white);
    margin-right: 1rem;
}

.discountPercentage div {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.discountPercentage div p {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--text);
}

.discountPercentage div span {
    font-size: 2rem;
    color: var(--tittle);
}

.featuredBuyButton {
    width: max-content;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    background: var(--red);
    color: var(--white);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.featuredBuyButton:hover {
    opacity: 0.9;
    transform: scale(1.02);
}