.featured {
    width: 95%;
    height: 50vh;
    border-radius: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.featuredVertical {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, var(--background) 5%, transparent 95%); */
}

.featuredHorizontal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    height: inherit;
    border-radius: 1rem;
    background: linear-gradient(to right, rgba(16, 18, 21, 0.7) 30%, transparent 70%);
    padding-left: 2rem;
    padding-bottom: 4rem;
}

.featuredName {
    font-size: 2.75rem;
    font-weight: 600;
    max-width: 60%;
    margin-top: 4rem;
}

.featuredInfo {
    font-size: 1.5rem;
    font-weight: 600;
}

.featuredLauch {
    font-size: 1rem;
}

.discountPercentage {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 2rem 0rem;
}

.discountPercentage>span {
    padding: 0.3rem;
    border-radius: 5px;
    background: var(--green);
    color: var(--white);
    margin-right: 1rem;
}

.discountPercentage div {
    display: flex;
    flex: 1;
    /* flex-direction: column; */
    align-items: center;
}

.discountPercentage div p {
    font-size: 1rem;
    text-decoration: line-through;
    color: var(--text);
    font-weight: lighter;
}

.discountPercentage div span {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: var(--tittle);
}

.featuredBuyButton {
    width: max-content;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    background: var(--red);
    color: var(--white);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.featuredBuyButton:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

@media(max-width: 1450px) {
    .featured {
        width: 100%;
    }
}

@media(max-width: 425px) {
    .featuredHorizontal {
        padding-left: 1rem;
        border-radius: 0;
        padding-bottom: 1rem;
    }
    .featuredName {
        font-size: 1.3rem;
        max-width: 100%;
        margin-top: 1rem;
    }
    .featuredInfo {
        font-size: 0.8rem;
    }
    .discountPercentage div p {
        font-size: 0.8rem;
    }
    .discountPercentage div span {
        font-size: 1rem;
        margin: 0rem;
    }
    .featuredBuyButton {
        font-size: 1rem;
    }
    .featured {
        width: 100%;
        height: 35vh;
        border-radius: 0;
        background-size: cover;
        background-position: top;
    }
}